--
-- PostgreSQL database dump
--

\restrict 6NeKPppf0oq3ll8yZy3k5nnblhTyxZKg7qMZQQTSAGwuzZY8yVrR9YQaB9AMEPK

-- Dumped from database version 17.9 (Debian 17.9-1.pgdg13+1)
-- Dumped by pg_dump version 17.9 (Debian 17.9-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = CURRENT_TIMESTAMP;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: aadhaar_verification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.aadhaar_verification (
    screening_id character varying(50) NOT NULL,
    masked_aadhaar character varying(20) NOT NULL,
    verification_status character varying(20) NOT NULL,
    attempts_made integer DEFAULT 0,
    verified_at timestamp without time zone,
    name_match_score numeric(3,2),
    extracted_name character varying(100),
    verification_data jsonb,
    verification_method character varying(50) DEFAULT 'ocr_tesseract'::character varying,
    image_quality_score integer,
    ocr_confidence integer,
    security_flags jsonb,
    ip_address inet,
    user_agent text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT check_attempts_range CHECK (((attempts_made >= 0) AND (attempts_made <= 10))),
    CONSTRAINT check_name_match_score CHECK (((name_match_score >= 0.0) AND (name_match_score <= 1.0))),
    CONSTRAINT check_verification_status CHECK (((verification_status)::text = ANY ((ARRAY['pending'::character varying, 'verified'::character varying, 'failed'::character varying, 'locked'::character varying])::text[])))
);


ALTER TABLE public.aadhaar_verification OWNER TO postgres;

--
-- Name: TABLE aadhaar_verification; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.aadhaar_verification IS 'Aadhaar card verification data and audit trail';


--
-- Name: COLUMN aadhaar_verification.masked_aadhaar; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.aadhaar_verification.masked_aadhaar IS 'Last 4 digits of Aadhaar number (XXXX-XXXX-1234)';


--
-- Name: COLUMN aadhaar_verification.name_match_score; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.aadhaar_verification.name_match_score IS 'Similarity score between extracted name and candidate name (0.0 to 1.0)';


--
-- Name: COLUMN aadhaar_verification.verification_data; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.aadhaar_verification.verification_data IS 'Complete OCR extraction data and metadata';


--
-- Name: assessment_questions_v2; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assessment_questions_v2 (
    id integer NOT NULL,
    screening_id character varying(50),
    question_id integer,
    question_text text NOT NULL,
    options jsonb NOT NULL,
    correct_answer character varying(1) NOT NULL,
    category character varying(50),
    difficulty character varying(20),
    explanation text,
    time_limit integer DEFAULT 90
);


ALTER TABLE public.assessment_questions_v2 OWNER TO postgres;

--
-- Name: assessment_questions_v2_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.assessment_questions_v2_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.assessment_questions_v2_id_seq OWNER TO postgres;

--
-- Name: assessment_questions_v2_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.assessment_questions_v2_id_seq OWNED BY public.assessment_questions_v2.id;


--
-- Name: assessment_results_v2; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.assessment_results_v2 (
    screening_id character varying(50) NOT NULL,
    answers jsonb NOT NULL,
    total_questions integer,
    correct_answers integer,
    score_percentage integer,
    time_spent integer,
    violations jsonb,
    is_passed boolean,
    grade character varying(2),
    aadhaar_verified boolean DEFAULT false,
    verification_attempts integer DEFAULT 0,
    verification_data jsonb,
    survey_responses_count integer DEFAULT 0,
    survey_validation_status character varying(20) DEFAULT 'pending'::character varying,
    survey_completed_at timestamp without time zone,
    technical_assessment_unlocked boolean DEFAULT false,
    qualifying_survey_questions_count integer DEFAULT 0,
    informational_survey_questions_count integer DEFAULT 0,
    two_stage_process_completed boolean DEFAULT false,
    started_at timestamp without time zone,
    completed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT check_survey_validation_status_results CHECK (((survey_validation_status)::text = ANY ((ARRAY['pending'::character varying, 'passed'::character varying, 'failed'::character varying])::text[])))
);


ALTER TABLE public.assessment_results_v2 OWNER TO postgres;

--
-- Name: COLUMN assessment_results_v2.survey_responses_count; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.assessment_results_v2.survey_responses_count IS 'Total number of survey questions answered';


--
-- Name: COLUMN assessment_results_v2.survey_validation_status; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.assessment_results_v2.survey_validation_status IS 'Status of preference screening validation';


--
-- Name: COLUMN assessment_results_v2.survey_completed_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.assessment_results_v2.survey_completed_at IS 'When the survey/preference screening was completed';


--
-- Name: COLUMN assessment_results_v2.technical_assessment_unlocked; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.assessment_results_v2.technical_assessment_unlocked IS 'Whether technical assessment was unlocked after survey validation';


--
-- Name: COLUMN assessment_results_v2.qualifying_survey_questions_count; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.assessment_results_v2.qualifying_survey_questions_count IS 'Number of qualifying survey questions';


--
-- Name: COLUMN assessment_results_v2.informational_survey_questions_count; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.assessment_results_v2.informational_survey_questions_count IS 'Number of informational survey questions';


--
-- Name: COLUMN assessment_results_v2.two_stage_process_completed; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.assessment_results_v2.two_stage_process_completed IS 'Whether both survey and technical stages were completed';


--
-- Name: candidates_v2; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.candidates_v2 (
    screening_id character varying(50) NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    phone character varying(20),
    location character varying(100),
    current_company character varying(100),
    job_title character varying(100),
    match_score integer,
    required_skills text,
    experience_level character varying(50),
    salary_expectation character varying(50),
    template_key character varying(100),
    status character varying(20) DEFAULT 'pending'::character varying,
    identity_verified boolean DEFAULT false,
    verification_required boolean DEFAULT true,
    verification_attempts integer DEFAULT 0,
    last_verification_attempt timestamp without time zone,
    survey_validation_status character varying(20) DEFAULT 'pending'::character varying,
    survey_completed_at timestamp without time zone,
    technical_assessment_unlocked boolean DEFAULT false,
    resume_drive_id character varying(255),
    resume_file_name character varying(255),
    resume_drive_url text,
    resume_text text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    expires_at timestamp without time zone,
    CONSTRAINT check_survey_validation_status CHECK (((survey_validation_status)::text = ANY ((ARRAY['pending'::character varying, 'passed'::character varying, 'failed'::character varying])::text[])))
);


ALTER TABLE public.candidates_v2 OWNER TO postgres;

--
-- Name: TABLE candidates_v2; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.candidates_v2 IS 'Candidate information with identity verification support';


--
-- Name: COLUMN candidates_v2.survey_validation_status; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.candidates_v2.survey_validation_status IS 'Status of preference screening: pending, passed, failed';


--
-- Name: COLUMN candidates_v2.survey_completed_at; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.candidates_v2.survey_completed_at IS 'Timestamp when survey was completed and validated';


--
-- Name: COLUMN candidates_v2.technical_assessment_unlocked; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.candidates_v2.technical_assessment_unlocked IS 'TRUE if candidate passed preference screening and can access technical questions';


--
-- Name: job_requirements_v2; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_requirements_v2 (
    id integer NOT NULL,
    screening_id character varying(50),
    job_title character varying(100),
    required_skills text,
    optional_skills text,
    experience_level character varying(50),
    salary_budget character varying(50),
    question_count integer DEFAULT 20,
    time_limit character varying(20) DEFAULT '30 minutes'::character varying,
    difficulty character varying(20) DEFAULT 'intermediate'::character varying,
    focus_areas jsonb
);


ALTER TABLE public.job_requirements_v2 OWNER TO postgres;

--
-- Name: job_requirements_v2_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.job_requirements_v2_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.job_requirements_v2_id_seq OWNER TO postgres;

--
-- Name: job_requirements_v2_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.job_requirements_v2_id_seq OWNED BY public.job_requirements_v2.id;


--
-- Name: job_templates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.job_templates (
    id integer NOT NULL,
    template_key text NOT NULL,
    job_title text NOT NULL,
    job_description text,
    required_skills text,
    number_of_candidates text,
    survey_question_1 text,
    survey_q1_expected_answer text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.job_templates OWNER TO postgres;

--
-- Name: job_templates_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.job_templates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.job_templates_id_seq OWNER TO postgres;

--
-- Name: job_templates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.job_templates_id_seq OWNED BY public.job_templates.id;


--
-- Name: survey_questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.survey_questions (
    id integer NOT NULL,
    screening_id character varying(50),
    question_id integer,
    question_text text NOT NULL,
    question_type character varying(20),
    options jsonb,
    expected_answer character varying(100),
    is_qualifying boolean DEFAULT false,
    question_category character varying(20) DEFAULT 'informational'::character varying,
    validation_type character varying(20),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT check_question_category CHECK (((question_category)::text = ANY ((ARRAY['qualifying'::character varying, 'informational'::character varying])::text[]))),
    CONSTRAINT check_validation_type CHECK ((((validation_type)::text = ANY ((ARRAY['exact_match'::character varying, 'none'::character varying])::text[])) OR (validation_type IS NULL)))
);


ALTER TABLE public.survey_questions OWNER TO postgres;

--
-- Name: COLUMN survey_questions.expected_answer; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.survey_questions.expected_answer IS 'Expected answer for qualifying questions (Yes/No or specific multiple choice option)';


--
-- Name: COLUMN survey_questions.is_qualifying; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.survey_questions.is_qualifying IS 'TRUE if this question requires validation to proceed to technical assessment';


--
-- Name: COLUMN survey_questions.question_category; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.survey_questions.question_category IS 'Category: qualifying or informational';


--
-- Name: COLUMN survey_questions.validation_type; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.survey_questions.validation_type IS 'Type of validation: exact_match for Yes/No and Multiple Choice';


--
-- Name: survey_questions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.survey_questions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.survey_questions_id_seq OWNER TO postgres;

--
-- Name: survey_questions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.survey_questions_id_seq OWNED BY public.survey_questions.id;


--
-- Name: survey_responses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.survey_responses (
    id integer NOT NULL,
    screening_id character varying(50),
    question_id integer,
    response_text text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.survey_responses OWNER TO postgres;

--
-- Name: survey_responses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.survey_responses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.survey_responses_id_seq OWNER TO postgres;

--
-- Name: survey_responses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.survey_responses_id_seq OWNED BY public.survey_responses.id;


--
-- Name: survey_validation_results; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.survey_validation_results (
    id integer NOT NULL,
    screening_id character varying(50) NOT NULL,
    validation_status character varying(20) NOT NULL,
    qualifying_questions_count integer DEFAULT 0,
    correct_answers_count integer DEFAULT 0,
    failed_questions jsonb,
    all_survey_responses jsonb,
    validation_details jsonb,
    validated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT check_validation_status CHECK (((validation_status)::text = ANY ((ARRAY['passed'::character varying, 'failed'::character varying, 'pending'::character varying])::text[])))
);


ALTER TABLE public.survey_validation_results OWNER TO postgres;

--
-- Name: TABLE survey_validation_results; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.survey_validation_results IS 'Results of preference/survey question validation before technical assessment';


--
-- Name: COLUMN survey_validation_results.validation_status; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.survey_validation_results.validation_status IS 'Status: passed, failed, or pending';


--
-- Name: COLUMN survey_validation_results.failed_questions; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.survey_validation_results.failed_questions IS 'Array of failed question details with expected vs actual answers';


--
-- Name: COLUMN survey_validation_results.all_survey_responses; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.survey_validation_results.all_survey_responses IS 'Complete survey response data for reference';


--
-- Name: COLUMN survey_validation_results.validation_details; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.survey_validation_results.validation_details IS 'Detailed validation metadata and scoring breakdown';


--
-- Name: survey_validation_results_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.survey_validation_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.survey_validation_results_id_seq OWNER TO postgres;

--
-- Name: survey_validation_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.survey_validation_results_id_seq OWNED BY public.survey_validation_results.id;


--
-- Name: survey_validation_summary; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.survey_validation_summary AS
 SELECT c.screening_id,
    c.name,
    c.email,
    c.survey_validation_status,
    c.survey_completed_at,
    c.technical_assessment_unlocked,
    svr.validation_status AS detailed_validation_status,
    svr.qualifying_questions_count,
    svr.correct_answers_count,
    svr.failed_questions,
    svr.validated_at,
        CASE
            WHEN (svr.qualifying_questions_count > 0) THEN round((((svr.correct_answers_count)::numeric / (svr.qualifying_questions_count)::numeric) * (100)::numeric), 2)
            ELSE (0)::numeric
        END AS validation_percentage
   FROM (public.candidates_v2 c
     LEFT JOIN public.survey_validation_results svr ON (((c.screening_id)::text = (svr.screening_id)::text)));


ALTER VIEW public.survey_validation_summary OWNER TO postgres;

--
-- Name: VIEW survey_validation_summary; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON VIEW public.survey_validation_summary IS 'Combined view of candidate survey validation status and results';


--
-- Name: verification_audit_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.verification_audit_log (
    id integer NOT NULL,
    screening_id character varying(50) NOT NULL,
    action_type character varying(50) NOT NULL,
    action_details jsonb,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    ip_address inet,
    user_agent text,
    result character varying(20)
);


ALTER TABLE public.verification_audit_log OWNER TO postgres;

--
-- Name: TABLE verification_audit_log; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.verification_audit_log IS 'Complete audit log for all verification activities';


--
-- Name: verification_audit_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.verification_audit_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.verification_audit_log_id_seq OWNER TO postgres;

--
-- Name: verification_audit_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.verification_audit_log_id_seq OWNED BY public.verification_audit_log.id;


--
-- Name: video_analysis_results; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.video_analysis_results (
    id integer NOT NULL,
    video_assessment_id character varying(255) NOT NULL,
    candidate_name character varying(255),
    candidate_email character varying(255),
    video_drive_id character varying(255),
    video_url text,
    analysis_status character varying(50) DEFAULT 'pending'::character varying,
    analysis_started_at timestamp without time zone,
    analysis_completed_at timestamp without time zone,
    emotion_analysis jsonb,
    attention_metrics jsonb,
    face_detection jsonb,
    violations_summary jsonb,
    full_report jsonb,
    processing_time_seconds integer,
    frames_processed integer,
    video_duration_seconds integer,
    error_message text,
    retry_count integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.video_analysis_results OWNER TO postgres;

--
-- Name: TABLE video_analysis_results; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.video_analysis_results IS 'Stores Python-based video analysis results using FMDv10_2.py (MediaPipe)';


--
-- Name: video_analysis_results_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.video_analysis_results_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.video_analysis_results_id_seq OWNER TO postgres;

--
-- Name: video_analysis_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.video_analysis_results_id_seq OWNED BY public.video_analysis_results.id;


--
-- Name: video_interview_candidates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.video_interview_candidates (
    id integer NOT NULL,
    video_assessment_id character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    phone character varying(50),
    location character varying(255),
    current_company character varying(255),
    job_title character varying(255),
    match_score integer,
    candidate_skills jsonb,
    required_skills text,
    experience_level character varying(100),
    salary_expectation character varying(100),
    status character varying(50) DEFAULT 'invited'::character varying,
    interview_started boolean DEFAULT false,
    interview_completed boolean DEFAULT false,
    videos_uploaded boolean DEFAULT false,
    proctoring_flags integer DEFAULT 0,
    expires_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.video_interview_candidates OWNER TO postgres;

--
-- Name: video_interview_candidates_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.video_interview_candidates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.video_interview_candidates_id_seq OWNER TO postgres;

--
-- Name: video_interview_candidates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.video_interview_candidates_id_seq OWNED BY public.video_interview_candidates.id;


--
-- Name: video_interview_evaluations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.video_interview_evaluations (
    id integer NOT NULL,
    video_assessment_id character varying(255) NOT NULL,
    interview_score integer,
    security_score integer,
    final_score integer,
    question_scores jsonb,
    security_violations_count integer DEFAULT 0,
    security_severity character varying(20),
    security_details jsonb,
    strengths text[],
    weaknesses text[],
    overall_feedback text,
    recommendation character varying(20),
    evaluated_by character varying(50) DEFAULT 'AI'::character varying,
    evaluated_at timestamp without time zone DEFAULT now(),
    final_decision character varying(20),
    decision_by character varying(100),
    decision_at timestamp without time zone,
    decision_comment text,
    CONSTRAINT video_interview_evaluations_final_score_check CHECK (((final_score >= 0) AND (final_score <= 100))),
    CONSTRAINT video_interview_evaluations_interview_score_check CHECK (((interview_score >= 0) AND (interview_score <= 100))),
    CONSTRAINT video_interview_evaluations_recommendation_check CHECK (((recommendation)::text = ANY ((ARRAY['hire'::character varying, 'maybe'::character varying, 'reject'::character varying])::text[]))),
    CONSTRAINT video_interview_evaluations_security_score_check CHECK (((security_score >= 0) AND (security_score <= 100))),
    CONSTRAINT video_interview_evaluations_security_severity_check CHECK (((security_severity)::text = ANY ((ARRAY['low'::character varying, 'medium'::character varying, 'high'::character varying])::text[])))
);


ALTER TABLE public.video_interview_evaluations OWNER TO postgres;

--
-- Name: video_interview_evaluations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.video_interview_evaluations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.video_interview_evaluations_id_seq OWNER TO postgres;

--
-- Name: video_interview_evaluations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.video_interview_evaluations_id_seq OWNED BY public.video_interview_evaluations.id;


--
-- Name: video_interview_questions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.video_interview_questions (
    id integer NOT NULL,
    video_assessment_id character varying(255),
    question_id integer,
    question_text text NOT NULL,
    question_type character varying(50) DEFAULT 'video'::character varying,
    category character varying(100),
    difficulty character varying(50),
    time_limit integer,
    expected_response_type character varying(50) DEFAULT 'video'::character varying,
    evaluation_criteria jsonb,
    key_points jsonb,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.video_interview_questions OWNER TO postgres;

--
-- Name: video_interview_questions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.video_interview_questions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.video_interview_questions_id_seq OWNER TO postgres;

--
-- Name: video_interview_questions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.video_interview_questions_id_seq OWNED BY public.video_interview_questions.id;


--
-- Name: video_interview_responses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.video_interview_responses (
    id integer NOT NULL,
    video_assessment_id character varying(255),
    candidate_name character varying(255),
    candidate_email character varying(255),
    video_url text,
    video_drive_id character varying(255),
    video_duration integer,
    full_transcript jsonb,
    security_report jsonb,
    uploaded_at timestamp without time zone DEFAULT now(),
    interview_completed_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.video_interview_responses OWNER TO postgres;

--
-- Name: video_interview_responses_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.video_interview_responses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.video_interview_responses_id_seq OWNER TO postgres;

--
-- Name: video_interview_responses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.video_interview_responses_id_seq OWNED BY public.video_interview_responses.id;


--
-- Name: video_job_requirements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.video_job_requirements (
    id integer NOT NULL,
    video_assessment_id character varying(255),
    job_title character varying(255),
    required_skills text,
    optional_skills text,
    experience_level character varying(100),
    salary_budget character varying(100),
    question_count integer,
    total_duration integer,
    time_per_question integer,
    difficulty character varying(50),
    focus_areas jsonb,
    interview_format character varying(100),
    recording_enabled boolean DEFAULT true,
    proctoring_enabled boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.video_job_requirements OWNER TO postgres;

--
-- Name: video_job_requirements_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.video_job_requirements_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.video_job_requirements_id_seq OWNER TO postgres;

--
-- Name: video_job_requirements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.video_job_requirements_id_seq OWNED BY public.video_job_requirements.id;


--
-- Name: assessment_questions_v2 id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_questions_v2 ALTER COLUMN id SET DEFAULT nextval('public.assessment_questions_v2_id_seq'::regclass);


--
-- Name: job_requirements_v2 id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_requirements_v2 ALTER COLUMN id SET DEFAULT nextval('public.job_requirements_v2_id_seq'::regclass);


--
-- Name: job_templates id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_templates ALTER COLUMN id SET DEFAULT nextval('public.job_templates_id_seq'::regclass);


--
-- Name: survey_questions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_questions ALTER COLUMN id SET DEFAULT nextval('public.survey_questions_id_seq'::regclass);


--
-- Name: survey_responses id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_responses ALTER COLUMN id SET DEFAULT nextval('public.survey_responses_id_seq'::regclass);


--
-- Name: survey_validation_results id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_validation_results ALTER COLUMN id SET DEFAULT nextval('public.survey_validation_results_id_seq'::regclass);


--
-- Name: verification_audit_log id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verification_audit_log ALTER COLUMN id SET DEFAULT nextval('public.verification_audit_log_id_seq'::regclass);


--
-- Name: video_analysis_results id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_analysis_results ALTER COLUMN id SET DEFAULT nextval('public.video_analysis_results_id_seq'::regclass);


--
-- Name: video_interview_candidates id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_interview_candidates ALTER COLUMN id SET DEFAULT nextval('public.video_interview_candidates_id_seq'::regclass);


--
-- Name: video_interview_evaluations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_interview_evaluations ALTER COLUMN id SET DEFAULT nextval('public.video_interview_evaluations_id_seq'::regclass);


--
-- Name: video_interview_questions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_interview_questions ALTER COLUMN id SET DEFAULT nextval('public.video_interview_questions_id_seq'::regclass);


--
-- Name: video_interview_responses id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_interview_responses ALTER COLUMN id SET DEFAULT nextval('public.video_interview_responses_id_seq'::regclass);


--
-- Name: video_job_requirements id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_job_requirements ALTER COLUMN id SET DEFAULT nextval('public.video_job_requirements_id_seq'::regclass);


--
-- Data for Name: aadhaar_verification; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.aadhaar_verification (screening_id, masked_aadhaar, verification_status, attempts_made, verified_at, name_match_score, extracted_name, verification_data, verification_method, image_quality_score, ocr_confidence, security_flags, ip_address, user_agent, created_at) FROM stdin;
\.


--
-- Data for Name: assessment_questions_v2; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.assessment_questions_v2 (id, screening_id, question_id, question_text, options, correct_answer, category, difficulty, explanation, time_limit) FROM stdin;
\.


--
-- Data for Name: assessment_results_v2; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.assessment_results_v2 (screening_id, answers, total_questions, correct_answers, score_percentage, time_spent, violations, is_passed, grade, aadhaar_verified, verification_attempts, verification_data, survey_responses_count, survey_validation_status, survey_completed_at, technical_assessment_unlocked, qualifying_survey_questions_count, informational_survey_questions_count, two_stage_process_completed, started_at, completed_at) FROM stdin;
\.


--
-- Data for Name: candidates_v2; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: job_requirements_v2; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.job_requirements_v2 (id, screening_id, job_title, required_skills, optional_skills, experience_level, salary_budget, question_count, time_limit, difficulty, focus_areas) FROM stdin;
\.


--
-- Data for Name: job_templates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.job_templates (id, template_key, job_title, job_description, required_skills, number_of_candidates, survey_question_1, survey_q1_expected_answer, created_at, updated_at) FROM stdin;
1	Template_1	Data Scientist	Data Scientist	Python	2	Are you willing to relocate?	Yes	2025-12-24 08:02:40.725636	2025-12-24 08:02:40.725636
2	Template_2	Data Scientist	Data Scientist	Python, N8N	2	Are you willing to relocate?	Yes	2025-12-24 08:02:40.725636	2025-12-24 08:02:40.725636
\.


--
-- Data for Name: survey_questions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.survey_questions (id, screening_id, question_id, question_text, question_type, options, expected_answer, is_qualifying, question_category, validation_type, created_at) FROM stdin;
1	\N	\N	Are you willing to relocate?	text	\N	\N	t	qualifying	exact_match	2026-03-11 13:02:41.816747
2	\N	\N	How many years of experience do you have?	text	\N	\N	t	qualifying	none	2026-03-11 13:02:41.816747
3	\N	\N	What is your notice period?	text	\N	\N	f	informational	none	2026-03-11 13:02:41.816747
4	\N	\N	Are you open to contract roles?	text	\N	\N	f	informational	none	2026-03-11 13:02:41.816747
\.


--
-- Data for Name: survey_responses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.survey_responses (id, screening_id, question_id, response_text, created_at) FROM stdin;
1	749bfc64-1440-46f0-9270-32340213f2b8	1	Yes	2026-03-09 23:50:25.796587
2	749bfc64-1440-46f0-9270-32340213f2b8	2	3 years	2026-03-09 23:50:25.805309
3	749bfc64-1440-46f0-9270-32340213f2b8	3	10 LPA	2026-03-09 23:50:25.805933
\.


--
-- Data for Name: survey_validation_results; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.survey_validation_results (id, screening_id, validation_status, qualifying_questions_count, correct_answers_count, failed_questions, all_survey_responses, validation_details, validated_at) FROM stdin;
\.


--
-- Data for Name: verification_audit_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.verification_audit_log (id, screening_id, action_type, action_details, "timestamp", ip_address, user_agent, result) FROM stdin;
\.


--
-- Data for Name: video_analysis_results; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.video_analysis_results (id, video_assessment_id, candidate_name, candidate_email, video_drive_id, video_url, analysis_status, analysis_started_at, analysis_completed_at, emotion_analysis, attention_metrics, face_detection, violations_summary, full_report, processing_time_seconds, frames_processed, video_duration_seconds, error_message, retry_count, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: video_interview_candidates; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.video_interview_candidates (id, video_assessment_id, name, email, phone, location, current_company, job_title, match_score, candidate_skills, required_skills, experience_level, salary_expectation, status, interview_started, interview_completed, videos_uploaded, proctoring_flags, expires_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: video_interview_evaluations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.video_interview_evaluations (id, video_assessment_id, interview_score, security_score, final_score, question_scores, security_violations_count, security_severity, security_details, strengths, weaknesses, overall_feedback, recommendation, evaluated_by, evaluated_at, final_decision, decision_by, decision_at, decision_comment) FROM stdin;
\.


--
-- Data for Name: video_interview_questions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.video_interview_questions (id, video_assessment_id, question_id, question_text, question_type, category, difficulty, time_limit, expected_response_type, evaluation_criteria, key_points, created_at) FROM stdin;
\.


--
-- Data for Name: video_interview_responses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.video_interview_responses (id, video_assessment_id, candidate_name, candidate_email, video_url, video_drive_id, video_duration, full_transcript, security_report, uploaded_at, interview_completed_at) FROM stdin;
\.


--
-- Data for Name: video_job_requirements; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.video_job_requirements (id, video_assessment_id, job_title, required_skills, optional_skills, experience_level, salary_budget, question_count, total_duration, time_per_question, difficulty, focus_areas, interview_format, recording_enabled, proctoring_enabled, created_at) FROM stdin;
\.


--
-- Name: assessment_questions_v2_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.assessment_questions_v2_id_seq', 1, false);


--
-- Name: job_requirements_v2_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.job_requirements_v2_id_seq', 1, false);


--
-- Name: job_templates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.job_templates_id_seq', 2, true);


--
-- Name: survey_questions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.survey_questions_id_seq', 3, true);


--
-- Name: survey_responses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.survey_responses_id_seq', 3, true);


--
-- Name: survey_validation_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.survey_validation_results_id_seq', 1, false);


--
-- Name: verification_audit_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.verification_audit_log_id_seq', 1, false);


--
-- Name: video_analysis_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.video_analysis_results_id_seq', 1, false);


--
-- Name: video_interview_candidates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.video_interview_candidates_id_seq', 1, false);


--
-- Name: video_interview_evaluations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.video_interview_evaluations_id_seq', 1, false);


--
-- Name: video_interview_questions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.video_interview_questions_id_seq', 1, false);


--
-- Name: video_interview_responses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.video_interview_responses_id_seq', 1, false);


--
-- Name: video_job_requirements_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.video_job_requirements_id_seq', 1, false);


--
-- Name: aadhaar_verification aadhaar_verification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aadhaar_verification
    ADD CONSTRAINT aadhaar_verification_pkey PRIMARY KEY (screening_id);


--
-- Name: assessment_questions_v2 assessment_questions_v2_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_questions_v2
    ADD CONSTRAINT assessment_questions_v2_pkey PRIMARY KEY (id);


--
-- Name: assessment_results_v2 assessment_results_v2_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_results_v2
    ADD CONSTRAINT assessment_results_v2_pkey PRIMARY KEY (screening_id);


--
-- Name: candidates_v2 candidates_v2_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.candidates_v2
    ADD CONSTRAINT candidates_v2_pkey PRIMARY KEY (screening_id);


--
-- Name: job_requirements_v2 job_requirements_v2_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_requirements_v2
    ADD CONSTRAINT job_requirements_v2_pkey PRIMARY KEY (id);


--
-- Name: job_templates job_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_templates
    ADD CONSTRAINT job_templates_pkey PRIMARY KEY (id);


--
-- Name: job_templates job_templates_template_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_templates
    ADD CONSTRAINT job_templates_template_key_key UNIQUE (template_key);


--
-- Name: survey_questions survey_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_questions
    ADD CONSTRAINT survey_questions_pkey PRIMARY KEY (id);


--
-- Name: survey_responses survey_responses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_responses
    ADD CONSTRAINT survey_responses_pkey PRIMARY KEY (id);


--
-- Name: survey_validation_results survey_validation_results_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_validation_results
    ADD CONSTRAINT survey_validation_results_pkey PRIMARY KEY (id);


--
-- Name: video_interview_evaluations unique_evaluation; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_interview_evaluations
    ADD CONSTRAINT unique_evaluation UNIQUE (video_assessment_id);


--
-- Name: verification_audit_log verification_audit_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verification_audit_log
    ADD CONSTRAINT verification_audit_log_pkey PRIMARY KEY (id);


--
-- Name: video_analysis_results video_analysis_results_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_analysis_results
    ADD CONSTRAINT video_analysis_results_pkey PRIMARY KEY (id);


--
-- Name: video_analysis_results video_analysis_results_video_assessment_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_analysis_results
    ADD CONSTRAINT video_analysis_results_video_assessment_id_key UNIQUE (video_assessment_id);


--
-- Name: video_interview_candidates video_interview_candidates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_interview_candidates
    ADD CONSTRAINT video_interview_candidates_pkey PRIMARY KEY (id);


--
-- Name: video_interview_candidates video_interview_candidates_video_assessment_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_interview_candidates
    ADD CONSTRAINT video_interview_candidates_video_assessment_id_key UNIQUE (video_assessment_id);


--
-- Name: video_interview_evaluations video_interview_evaluations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_interview_evaluations
    ADD CONSTRAINT video_interview_evaluations_pkey PRIMARY KEY (id);


--
-- Name: video_interview_questions video_interview_questions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_interview_questions
    ADD CONSTRAINT video_interview_questions_pkey PRIMARY KEY (id);


--
-- Name: video_interview_responses video_interview_responses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_interview_responses
    ADD CONSTRAINT video_interview_responses_pkey PRIMARY KEY (id);


--
-- Name: video_job_requirements video_job_requirements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_job_requirements
    ADD CONSTRAINT video_job_requirements_pkey PRIMARY KEY (id);


--
-- Name: idx_aadhaar_verification_created; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_aadhaar_verification_created ON public.aadhaar_verification USING btree (created_at);


--
-- Name: idx_aadhaar_verification_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_aadhaar_verification_status ON public.aadhaar_verification USING btree (verification_status);


--
-- Name: idx_candidates_v2_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_candidates_v2_email ON public.candidates_v2 USING btree (email);


--
-- Name: idx_candidates_v2_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_candidates_v2_status ON public.candidates_v2 USING btree (status);


--
-- Name: idx_candidates_v2_survey_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_candidates_v2_survey_status ON public.candidates_v2 USING btree (survey_validation_status);


--
-- Name: idx_candidates_v2_template; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_candidates_v2_template ON public.candidates_v2 USING btree (template_key);


--
-- Name: idx_candidates_v2_verification; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_candidates_v2_verification ON public.candidates_v2 USING btree (identity_verified);


--
-- Name: idx_evaluated_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_evaluated_at ON public.video_interview_evaluations USING btree (evaluated_at);


--
-- Name: idx_evaluation_assessment; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_evaluation_assessment ON public.video_interview_evaluations USING btree (video_assessment_id);


--
-- Name: idx_recommendation; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_recommendation ON public.video_interview_evaluations USING btree (recommendation);


--
-- Name: idx_survey_validation_screening; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_survey_validation_screening ON public.survey_validation_results USING btree (screening_id);


--
-- Name: idx_survey_validation_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_survey_validation_status ON public.survey_validation_results USING btree (validation_status);


--
-- Name: idx_survey_validation_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_survey_validation_timestamp ON public.survey_validation_results USING btree (validated_at);


--
-- Name: idx_verification_audit_action; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_verification_audit_action ON public.verification_audit_log USING btree (action_type);


--
-- Name: idx_verification_audit_timestamp; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_verification_audit_timestamp ON public.verification_audit_log USING btree ("timestamp");


--
-- Name: idx_video_analysis_assessment_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_video_analysis_assessment_id ON public.video_analysis_results USING btree (video_assessment_id);


--
-- Name: idx_video_analysis_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_video_analysis_created_at ON public.video_analysis_results USING btree (created_at);


--
-- Name: idx_video_analysis_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_video_analysis_status ON public.video_analysis_results USING btree (analysis_status);


--
-- Name: idx_video_assessment_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_video_assessment_id ON public.video_interview_candidates USING btree (video_assessment_id);


--
-- Name: idx_video_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_video_email ON public.video_interview_candidates USING btree (email);


--
-- Name: idx_video_response_assessment_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_video_response_assessment_id ON public.video_interview_responses USING btree (video_assessment_id);


--
-- Name: idx_video_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_video_status ON public.video_interview_candidates USING btree (status);


--
-- Name: job_templates update_job_templates_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_job_templates_updated_at BEFORE UPDATE ON public.job_templates FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: video_analysis_results update_video_analysis_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_video_analysis_updated_at BEFORE UPDATE ON public.video_analysis_results FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: aadhaar_verification aadhaar_verification_screening_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.aadhaar_verification
    ADD CONSTRAINT aadhaar_verification_screening_id_fkey FOREIGN KEY (screening_id) REFERENCES public.candidates_v2(screening_id);


--
-- Name: assessment_questions_v2 assessment_questions_v2_screening_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_questions_v2
    ADD CONSTRAINT assessment_questions_v2_screening_id_fkey FOREIGN KEY (screening_id) REFERENCES public.candidates_v2(screening_id);


--
-- Name: assessment_results_v2 assessment_results_v2_screening_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.assessment_results_v2
    ADD CONSTRAINT assessment_results_v2_screening_id_fkey FOREIGN KEY (screening_id) REFERENCES public.candidates_v2(screening_id);


--
-- Name: video_analysis_results fk_video_assessment; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_analysis_results
    ADD CONSTRAINT fk_video_assessment FOREIGN KEY (video_assessment_id) REFERENCES public.video_interview_candidates(video_assessment_id) ON DELETE CASCADE;


--
-- Name: video_interview_evaluations fk_video_assessment; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_interview_evaluations
    ADD CONSTRAINT fk_video_assessment FOREIGN KEY (video_assessment_id) REFERENCES public.video_interview_candidates(video_assessment_id) ON DELETE CASCADE;


--
-- Name: job_requirements_v2 job_requirements_v2_screening_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.job_requirements_v2
    ADD CONSTRAINT job_requirements_v2_screening_id_fkey FOREIGN KEY (screening_id) REFERENCES public.candidates_v2(screening_id);


--
-- Name: survey_questions survey_questions_screening_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_questions
    ADD CONSTRAINT survey_questions_screening_id_fkey FOREIGN KEY (screening_id) REFERENCES public.candidates_v2(screening_id);


--
-- Name: survey_responses survey_responses_screening_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_responses
    ADD CONSTRAINT survey_responses_screening_id_fkey FOREIGN KEY (screening_id) REFERENCES public.candidates_v2(screening_id);


--
-- Name: survey_validation_results survey_validation_results_screening_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.survey_validation_results
    ADD CONSTRAINT survey_validation_results_screening_id_fkey FOREIGN KEY (screening_id) REFERENCES public.candidates_v2(screening_id);


--
-- Name: verification_audit_log verification_audit_log_screening_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.verification_audit_log
    ADD CONSTRAINT verification_audit_log_screening_id_fkey FOREIGN KEY (screening_id) REFERENCES public.candidates_v2(screening_id);


--
-- Name: video_analysis_results video_analysis_results_video_assessment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_analysis_results
    ADD CONSTRAINT video_analysis_results_video_assessment_id_fkey FOREIGN KEY (video_assessment_id) REFERENCES public.video_interview_candidates(video_assessment_id) ON DELETE CASCADE;


--
-- Name: video_interview_evaluations video_interview_evaluations_video_assessment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_interview_evaluations
    ADD CONSTRAINT video_interview_evaluations_video_assessment_id_fkey FOREIGN KEY (video_assessment_id) REFERENCES public.video_interview_candidates(video_assessment_id) ON DELETE CASCADE;


--
-- Name: video_interview_questions video_interview_questions_video_assessment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_interview_questions
    ADD CONSTRAINT video_interview_questions_video_assessment_id_fkey FOREIGN KEY (video_assessment_id) REFERENCES public.video_interview_candidates(video_assessment_id);


--
-- Name: video_interview_responses video_interview_responses_video_assessment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_interview_responses
    ADD CONSTRAINT video_interview_responses_video_assessment_id_fkey FOREIGN KEY (video_assessment_id) REFERENCES public.video_interview_candidates(video_assessment_id);


--
-- Name: video_job_requirements video_job_requirements_video_assessment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_job_requirements
    ADD CONSTRAINT video_job_requirements_video_assessment_id_fkey FOREIGN KEY (video_assessment_id) REFERENCES public.video_interview_candidates(video_assessment_id);


--
-- PostgreSQL database dump complete
--

\unrestrict 6NeKPppf0oq3ll8yZy3k5nnblhTyxZKg7qMZQQTSAGwuzZY8yVrR9YQaB9AMEPK

